*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #0d0d0d;
    color: white;
    font-family: "Press Start 2P", monospace;
}
h1 {
    color: #ff3b30;
}

p {
    color: #b8b8b8;
}

#window1{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#power-button{
  margin-left: 110PX;
  margin-top: 30PX;
  padding: 30PX;
  border-radius: 200PX;
  background-color: hsl(3, 81%, 55%);
  color: black;
  font-size: 20PX;
  font-weight: bold;
  border: 2PX groove white;
  transition: 0.3s;
}
#power-button:active{
   transform: translateY(5px);
}
#power-button:hover{
    transform: scale(1.03);
    color: white;
}
#window2{
     min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: none;
}
#progressContainer{
    width: 500px;
    height: 30px;
    border: 3px solid white;
}
#progressBar{
    width: 0%;
    height: 100%;
    background: red;
}

#window3{
    min-height: 100vh;
     width: 100%;
    background-image: url(assets/images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}